@use "variables";

.header {
	width: 100vw;
	height: 50px;
	position: sticky;
	top: 0;
	background-color: $background2;
	box-shadow: #000 0px 0px 0.7rem;
	z-index: 5;
	.nav-header {
		display: flex;
		.menu-button {
			align-self: center;
			width: fit-content;
			height: fit-content;
			padding-left: 0.4rem;
			background: none;
			border: none;
			font-size: 2.3rem;
			color: white;
			cursor: pointer;
		}
		.menu-button-active {
			color: $secondary;
		}
	}
	.logo {
		position: absolute;
		left: 15%;
		right: 15%;
		font-size: 2rem;
		text-align: center;
		color: white;
	}
	.menu-wrapper {
		position: absolute;
		top: 50px;
		left: -40vw;
		height: calc(100vh - 50px);
		width: 40%;
		background-color: $background2;
		z-index: 4;
		.menu-list {
			.menu-item {
				width: 100%;
				height: 60px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				position: relative;
				left: -40vw;
				opacity: 0.8;
				animation-name: menuItems;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
				animation-iteration-count: 1;
				animation-duration: 0.2s;
				@keyframes menuItems {
					0% {
						opacity: 0.8;
						left: -40vw;
					}
					100% {
						opacity: 1;
						left: 0;
					}
				}
				.menu-link {
					color: white;
					display: flex;
					width: 100%;
					height: 100%;
					align-items: center;
					justify-content: center;
					transition: all 0.2s;
					&:hover {
						color: $secondary;
					}
				}
			}
		}
	}
	.menu-active {
		animation: menuOpen 0.2s ease-out 0s 1 normal both;
		@keyframes menuOpen {
			0% {
				left: -40vw;
			}
			100% {
				left: 0px;
			}
		}
	}
	.menu-inactive {
		animation: menuClose 0.2s ease-out 0s 1 normal both;
		@keyframes menuClose {
			0% {
				left: 0px;
			}
			100% {
				left: -40vw;
			}
		}
	}
}
