@use "variables";

.todos-container {
	color: white;
	.todo {
		background-color: white;
		color: $primary;
		padding: 0.5rem 0.8rem;
		border-radius: 6px;
		margin-bottom: 0.5rem;
		border: 1px solid $secondary;
	}
}
